.body {
  background-color: #E1ECC8;
  background-repeat:no-repeat;
  width: 100%;
  color: #000000;
  font: 40px Helvetica, sans-serif;
  background-image: url('/Users/tejasalisyam/Desktop/TestProjs/Xwiggy-Angular8-SpringBoot-MVC-JPA-MYSQL/2015-6-25--12-26-25-520_Admin_Block.jpg');
}
h1{
  font-weight: 900;
}
.my-element {
 
  background-repeat: no-repeat;
  background-size: cover;
}


.bigbutton {
  border-radius: 4px;
  background-color: #ffa41b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}
